@import "vars";

.colorpicker {
    --colorpicker-z-index: #{$colorpicker-z-index};
    --colorpicker-bg: #{$colorpicker-bg};
    --colorpicker-border-width: #{$colorpicker-border-width};
    --colorpicker-border-color: #{$colorpicker-border-color};

    z-index: var(--colorpicker-z-index);
    display: block;
    padding: 0;
    margin: 0;
    user-select: none;
    background-color: var(--colorpicker-bg);
    border: var(--colorpicker-border-width) var(--ui-border-style) var(--colorpicker-border-color);
}

.colorpicker-inline {
    display: inline-block;
    border: 0;
}

.colorpicker-saturation {
    position: relative;
    z-index: 1;
    width: $colorpicker-saturation-size;
    height: $colorpicker-saturation-size;
    cursor: $colorpicker-saturation-cursor;
    background: $colorpicker-saturation-background;

    .colorpicker-guide {
        position: absolute;
        width: $colorpicker-saturation-guide-size;
        height: $colorpicker-saturation-guide-size;
        border: $colorpicker-saturation-guide-border-width solid $colorpicker-saturation-guide-border-color;
        border-radius: $colorpicker-saturation-guide-border-radius;
        box-shadow: $colorpicker-saturation-guide-box-shadow;
        transform: translate(-50%, -50%);
    }
}

.colorpicker-hue {
    background: $colorpicker-hue-background;
}

.colorpicker-alpha,
.colorpicker-preview {
    background: $colorpicker-alpha-background;
    background-position: 0 0, ($colorpicker-alpha-background-size * .5) ($colorpicker-alpha-background-size * .5);
    background-size: $colorpicker-alpha-background-size $colorpicker-alpha-background-size;
}

.colorpicker-alpha {
    position: relative;
}

.colorpicker-alpha-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.colorpicker-bar {
    position: relative;
    max-width: 100%;
    height: $colorpicker-bar-height;
    box-shadow: $colorpicker-bar-box-shadow;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.colorpicker-hue,
.colorpicker-alpha {
    position: relative;
    z-index: 1;
    width: $colorpicker-hue-alpha-size;
    height: $colorpicker-saturation-size;
    cursor: $colorpicker-hue-alpha-cursor;

    .colorpicker-guide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $colorpicker-hue-alpha-guide-size;
        background-color: $colorpicker-hue-alpha-guide-background-color;
        border: $colorpicker-hue-alpha-guide-border-width solid $colorpicker-hue-alpha-guide-border-color;
        transform: translateY(-50%);
    }
}

.colorpicker-horizontal {
    .colorpicker-hue {
        background: $colorpicker-horizontal-hue-background;
    }

    .colorpicker-hue,
    .colorpicker-alpha {
        width: 100%;
        height: $colorpicker-hue-alpha-size;
        cursor: $colorpicker-horizontal-hue-alpha-cursor;

        .colorpicker-guide {
            width: $colorpicker-hue-alpha-guide-size;
            height: 100%;
            transform: translateX(-50%);
        }
    }
}

.colorpicker-disabled {
    pointer-events: none;
    opacity: $colorpicker-disabled-opacity;

    .colorpicker-guide {
        display: none;
    }
}

.input-group-color {
    width: $input-group-color-width;
}

.colorpicker-modal {
    --colorpicker-border-width: 0;

    .colorpicker-saturation {
        width: 100%;
        height: initial;
        padding-top: 100%;
    }
}
