// colorpicker
$colorpicker-z-index: 1000 !default;
$colorpicker-bg: var(--ui-body-bg) !default;
$colorpicker-border-width: var(--ui-border-width) !default;
$colorpicker-border-color: var(--ui-border-color-translucent) !default;

$colorpicker-saturation-size: 200px !default;
$colorpicker-saturation-cursor: crosshair !default;
$colorpicker-saturation-background: linear-gradient(to bottom, transparent 0%, #000 100%), linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%) !default;
$colorpicker-saturation-guide-size: 6px !default;
$colorpicker-saturation-guide-border-width: var(--ui-border-width) !default;
$colorpicker-saturation-guide-border-color: var(--ui-body-color) !default;
$colorpicker-saturation-guide-border-radius: 50% !default;
$colorpicker-saturation-guide-box-shadow: 0 0 0 var(--ui-border-width) rgba(var(--ui-body-bg-rgb), .8) !default;

$colorpicker-hue-alpha-size: 25px !default;
$colorpicker-hue-alpha-cursor: row-resize !default;
$colorpicker-horizontal-hue-alpha-cursor: col-resize !default;
$colorpicker-hue-alpha-guide-size: 4px !default;
$colorpicker-hue-alpha-guide-background-color: rgba(var(--ui-body-bg-rgb), .8) !default;
$colorpicker-hue-alpha-guide-border-width: var(--ui-border-width) !default;
$colorpicker-hue-alpha-guide-border-color: rgba(var(--ui-body-color-rgb), .4) !default;
$colorpicker-hue-background: linear-gradient(to top, #f00 0%, #ff8000 8%, #ff0 17%, #80ff00 25%, #0f0 33%, #00ff80 42%, #0ff 50%, #0080ff 58%, #00f 67%, #8000ff 75%, #f0f 83%, #ff0080 92%, #f00 100%) !default;
$colorpicker-horizontal-hue-background: linear-gradient(to left, #f00 0%, #ff8000 8%, #ff0 17%, #80ff00 25%, #0f0 33%, #00ff80 42%, #0ff 50%, #0080ff 58%, #00f 67%, #8000ff 75%, #f0f 83%, #ff0080 92%, #f00 100%) !default;
$colorpicker-alpha-background: linear-gradient(45deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 0), linear-gradient(45deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 0), #fff !default;
$colorpicker-alpha-background-size: 10px !default;

$colorpicker-bar-height: 1rem !default;
$colorpicker-bar-box-shadow: 0 0 0 var(--ui-border-width) fade(var(--ui-body-color-rgb), .2) !default;

$colorpicker-disabled-opacity: var(--ui-disabled-opacity) !default;

$input-group-color-width: 2rem;
